<% layout("layouts/boilerplate") %>

  <body>
    <form action="/pokemon" method="POST">
      <div>
        <label for="name" id="name">Name</label>
        <select name="pokemon[DexNum]" id="name">
          <% for(let pokemon of pokedex) { %>
          <option value="<%=pokemon.id%>"><%=pokemon.name.english%></option>

          <% } %>
        </select>
      </div>

      <div>
        <label for="nature" id="nature">Nature</label>
        <select name="pokemon[Nature]" id="nature">
          <% for(let nature of natures) { %>
          <option value="<%=nature%>"><%=nature%></option>
          <% } %>
        </select>
      </div>
      <div>
        <label for="location" id="location">Location</label>
        <input type="text" name="pokemon[Location]" id="location" />
      </div>
      <button>Add!</button>
    </form>

<a href="/pokemon">Cancel</a>


  </body>
