<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1><%= pokemon.Name %> </h1>
    <h2> <%= pokemon.Location %>    </h2>



<form action="/pokemon/<%=pokemon._id%>?_method=DELETE" method="POST">

<button>Delete</button>


</form>


    <footer>
        <a href="/pokemon/<%= pokemon._id %>/edit ">Edit</a>
        <a href="/pokemon">Back to List</a>
    </footer>


</body>



</html>